# Test-Konfigurationsdatei
config.local.php
codetest.sh

# Temporär-Ordner für Tests
tmp/

# Composer
vendor/
composer.lock

# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
.idea/
